<div class="container">
  <h2>スペース編集</h2>
  <%= form_with model:@space, url: host_space_path, local: true do |f| %>
  <table class="table table-borderless table-sm">
    <tr>
      <td><%= f.label "スペース名称" %></td>
      <td><%= f.text_field :name %></td>
    </tr>
    <tr>
      <td><%= f.label "詳細説明" %></td>
      <td><%= f.text_area :detail %></td>
    </tr>
    <tr>
      <td><%= f.label "収容人数" %></td>
      <td><%= f.text_field :capacity %></td>
    </tr>
    <tr>
      <td><%= f.label "利用可能開始時間" %></td>
      <td><%= f.time_select :open_time, minute_step: 30 %></td>
    </tr>
    <tr>
      <td><%= f.label "利用可能終了時間" %></td>
      <td><%= f.time_select :close_time, minute_step: 30 %></td>
    </tr>
    <tr>
      <td><%= f.label "１時間あたり料金" %></td>
      <td><%= f.text_field :hourly_rate %></td>
    </tr>
    <tr>
      <td><%= f.label "施設写真" %></td>
      <td><%= f.attachment_field :image %></td>
    </tr>
    <tr>
      <td></td>
      <td><%= f.submit '更新', class:'btn btn-success' %></td>
    </tr>
  </table>
  <% end %>
</div>
