<div class="container">
  <h2>スペース新規登録</h2>
  <%= form_with model:@space, url: host_spaces_path, local: true do |f| %>
    <%= f.label "スペース名称" %>
    <%= f.text_field :name %>
    <br>
    <%= f.label "住所" %>
    <%= f.text_field :address %>
    <br>
    <%= f.label "詳細説明" %>
    <%= f.text_area :detail %>
    <br>
    <%= f.label "収容人数" %>
    <%= f.text_field :capacity %>
    <br>
    <%= f.label "利用可能開始時間" %>
    <%= f.time_select :open_time, minute_step: 30 %>
    <br>
    <%= f.label "利用可能終了時間" %>
    <%= f.time_select :close_time, minute_step: 30 %>
    <br>
    <%= f.label "１時間あたり料金" %>
    <%= f.text_field :hourly_rate %>
    <br>
    <%= f.label "施設写真" %>
    <%= f.attachment_field :image %>
    <br>
    <%= f.submit 'スペース作成' %>

  <% end %>
</div>