<div class="container">
  <div class="row">
    <div class="col-5">
      <%= attachment_image_tag @space, :image, :fill, 400, 300 %>
    </div>
    <div class="col-7 m-auto">
      <div class="row mb-3">
        <div class="col-3">
          スペース名称
        </div>
        <div class="col-6">
          <%= @space.name %>
        </div>
      </div>
      <div class="row mb-3">
        <div class="col-3">
          所在地
        </div>
        <div class="col-6">
          <%= @space.address %>
        </div>
      </div>
      <div class="row mb-3">
        <div class="col-3">
          詳細説明
        </div>
        <div class="col-6">
          <%= @space.detail %>
        </div>
      </div>
      <div class="row mb-3">
        <div class="col-3">
          利用可能時間
        </div>
        <div class="col-6">
          <%= @space.open_time.strftime('%H:%M') %>〜<%= @space.close_time.strftime('%H:%M') %>
        </div>
      </div>
      <div class="row mb-3">
        <div class="col-3">
          時間単価(税込)
        </div>
        <div class="col-6">
          <%= @space.hourly_rate.to_s(:delimited) %>円
        </div>
      </div>
      <div class="row mb-3">
        <div class="col-3">
          ホストの名前
        </div>
        <div class="col-6">
          <%= @space.host.name %>
        </div>
      </div>
      <div class="row mb-3">
        <div class="col-3"></div>
        <div class="col-6">
          <%= link_to "ホストに問い合わせる", new_guest_space_contact_path(@space.id) %>
        </div>
      </div>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-6 text-center">
      <%= link_to "スペース一覧へ戻る", guest_spaces_path, class:'btn btn-sm btn-secondary'  %>
    </div>
    <div class="col-6 text-center">
      <%= link_to "このスペースを予約する", new_guest_space_reservation_path(@space.id), class:'btn btn-sm btn-primary'  %>
    </div>
  </div>
</div>