<div class="container">
  <h4>
  <%= @space.name %>
  予約一覧
  </h4>

  <%= month_calendar events: @reservations do |date, reservations| %>
    <%= date.day %>

    <% reservations.each do |reservation| %>
      <div>
        <%= reservation.start_time.strftime('%H:%M') %>
        <%= link_to host_space_reservation_path(reservation.space_id,reservation.id) do %>
         <%= reservation.guest.last_name %>
        <% end %>
      </div>
    <% end %>
  <% end %>
  <div class="row justify-content-center">
    <%= link_to "管理スペース一覧に戻る", host_spaces_path ,class:"btn btn-secondary" %>
  </div>
</div>