<div class="container">
  <h3 class="font-weight-bold">スペース予約</h3>
<br>
<table class="table table-borderless ml-2">
  <tbody class="row">
    <td>【利用スペース】</td>
    <td><%= @space.name %></td>
  </tbody>
  <tbody class="row">
    <td>【利用日時】</td>
    <td>
      <%= @reservation.use_date.strftime("%Y年%m月%d日") %>
      <%= @reservation.begin_time.strftime('%H:%M') %>〜<%= @reservation.finish_time.strftime('%H:%M') %>
    </td>
  </tbody>

  <tbody class="row">
    <td>【利用時間】</td>
    <td><%= @reservation.usage_time %>時間</td>
  </tbody>
  <tbody class="row">
    <td>【利用料金】</td>
    <td><%= (@space.hourly_rate * @reservation.usage_time).floor.to_s(:delimited) %>円</td>
  </tbody>
</table>

<br>
<%#= form_for @reservation, url: new_guest_space_reservation_path do |f| %>
  <%#= f.hidden_field :use_date %>
  <%#= f.hidden_field :start_time %>
  <%#= f.hidden_field :end_time %>
  <%#= f.hidden_field :people %>
  <%#= f.submit '内容を修正する'%>
<%# end %>
<%= form_with model: @reservation, url: guest_space_reservations_path, local: true do |f| %>
  <%= f.hidden_field :guest_id, value: current_guest.id %>
  <%= f.hidden_field :space_id, value: @space.id %>
  <%= f.hidden_field :people, value: @reservation.people %>
  <%= f.hidden_field :begin_time, value: @reservation.begin_time %>
  <%= f.hidden_field :finish_time, value: @reservation.finish_time %>
  <%= f.hidden_field :use_date, value: @reservation.use_date %>
  <%= f.hidden_field :hourly_rate, value: @space.hourly_rate %>
  <%= f.submit "予約を確定する", class: "btn btn-success" %>
<% end %>

</div>

